/* Bootstrap pagination */

.pagination .page-link {
    color: #000000; 
}

.pagination .page-item.active .page-link {
    background-color: #000000; 
    border-color: #000000;     
    color: white;              
}

.pagination .page-item.disabled .page-link {
    color: #6c757d; 
}

/* Bootstrap buttons */

.btn-outline-primary {
    color: black; 
    border-color: black; 
}

.btn-outline-primary:hover {
    background-color: black; 
    color: white; 
    border-color: black;
}

/* Alert popup overlay */
#overlay-alert {
        position: fixed;
        top: 20px; 
        right: 20px; 
        z-index: 1050; 
        width: auto; 
    }